<% content_for :title do %>
Contact · Memoir Smoke House
<% end %>

<div class="container">
  <div class="row align-items-start">
    <div class="col-md-6 offset-md-3">

      <%= image_tag "logo.png", class: "d-block mx-lg-auto img-fluid", alt: "brisket", width: 500, loading: "lazy" %>
      <p class="text-center fs-1 fw-bold">Memoir Camper Resources</p>
      <p class="text-center fs-3 lh-1 fst-italic">Reg. No. 003260654-H</p>
      <hr>
      <p class="text-center">
        No 17 Jalan Alam Suria 16/37<br />
        Fasa 5A6 Seksyen 16<br />
        42300 Bandar Puncak Alam<br />
        Selangor D.E
      </p>
      <p class="text-center">
        Call/Whatsapp: +60 17 429 0525
      </p>
      <hr>
      <p class="text-center">
        Operating Days: Everyday <i>except</i> Tuesday & Public Holiday<br />
        Operating Hours: 2pm - 8pm (self pickup & delivery)
      </p>
      
    </div>
  </div>
</div>