<div class="container">
  <div class="row align-items-start">
    <div class="col-md-6 offset-md-3">

      <%= image_tag "poster.png", class: "img-fluid", alt: '"poster.png"' %>
      
    </div>
  </div>
</div>
