<% content_for :title do %>
Menu · Memoir Smoke House
<% end %>

<div class="container">
  <div class="row align-items-start">
    <div class="col-md-6 offset-md-3">

      <%= image_tag "menu.png", class: "img-fluid", alt: "menu" %>
      
    </div>
  </div>
</div>
