<div class="list-group">
  <%= link_to "Dashboard", admin_master_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Manage Menu", admin_menus_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Manage Order", admin_orders_path, class: "list-group-item list-group-item-action" %>
  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
  <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">A disabled link item</a>
</div>