$("#order-setstatus_<%= @order.id %>").html("<span class='badge bg-danger'>Cancelled</span>".html_safe);
$("#order-status_<%= @order.id %>").html("<%=j link_to 'Set Cancelled', mark_cancelled_admin_order_path(@order), method: :patch, remote: true, class: 'btn btn-warning btn-sm' %>");
