$("#order-setstatus_<%= @order.id %>").html("<span class='badge bg-primary'>Delivered</span>".html_safe);
$("#order-status_<%= @order.id %>").html("<%=j link_to 'Set Delivered', mark_delivered_admin_order_path(@order), method: :patch, remote: true, class: 'btn btn-warning btn-sm' %>");
