@import "bootstrap";
@import "datatables.net-bs4/css/dataTables.bootstrap4.css";

.navbar{
  margin-bottom: 20px;
}

.form-group{
  margin-bottom: 5px;
}

footer {
  background-color: #000;
  margin-top: 20px;
}