<footer class="text-muted py-5">
  <div class="container">
    <p class="mb-1"><%= image_tag "logo2.png", class: "rounded-circle border-white", alt: "logo ", width: 32, height: 32 %>  The best smoked brisket in town!</p>
  </div>
</footer>